In [13]:
import os
import pandas as pd
from dotenv import load_dotenv

# Explicitly providing path to '.env'
from pathlib import Path  # Python 3.6+ only
# Load .env variables
_ = load_dotenv(dotenv_path=f"{Path().resolve().parents[0]}/.env")

# with the new api
from importnb import imports
with imports("ipynb"):
    from utils import df_to_csv, df_from_csv

# Datasets

## Dataset 1

In [14]:
df_tangara_dataset_1 = df_from_csv(os.getenv("TANGARA_DATASET_1", None), dtindex=False)
print(f"Size: {df_tangara_dataset_1.size}")
df_tangara_dataset_1.info()
df_tangara_dataset_1.describe()

2024-09-20 18:28:34.944 | DEBUG    | utils:df_from_csv:263 - Run df_from_csv:
2024-09-20 18:28:34.945 | DEBUG    | utils:df_from_csv:264 - Load DataFrame: /home/sebaxtian/Workspaces/Tangara/tangara-mlds-unal-2024/src/tangara/data/0_raw/tangara_dataset_raw_2023-08-01_00-00-00_UTC-0500_2023-08-31_23-59-59_UTC-0500.csv

Size: 18570240
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428480 entries, 0 to 1428479
Data columns (total 13 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Unnamed: 0      1428480 non-null  int64
 1   DATETIME        1428480 non-null  object
 2   YEAR            1428480 non-null  int64
 3   MONTH           1428480 non-null  object
 4   DAY_OF_WEEK     1428480 non-null  object
 5   IS_WEEKEND      1428480 non-null  bool
 6   IS_HOLIDAY      1428480 non-null  bool
 7   SENSOR_ID       1428480 non-null  object
 8   PM25            1210842 non-null  float64
 9   TEMPERATURE     1210842 non-null  float64
 10  HUMIDITY        1210842 non-null  float64
 11  GEOLOCATION     1428480 non-null  object
 12  CARDINAL_POINT  1428480 non-null  object
dtypes: bool(2), float64(3), int64(2), object(6)
memory usage: 122.6+ MB

         Unnamed: 0       YEAR          PM25   TEMPERATURE      HUMIDITY
count  1.428480e+06  1428480.0  1.210842e+06  1.210842e+06  1.210842e+06
mean   7.142395e+05     2023.0  1.071568e+01  2.953096e+01  5.825237e+01
std    4.123668e+05        0.0  1.016375e+01  6.175346e+00  1.899643e+01
min    0.000000e+00     2023.0  0.000000e+00  0.000000e+00  0.000000e+00
25%    3.571198e+05     2023.0  5.000000e+00  2.730000e+01  4.752000e+01
50%    7.142395e+05     2023.0  9.000000e+00  2.955000e+01  5.657000e+01
75%    1.071359e+06     2023.0  1.400000e+01  3.270000e+01  6.702000e+01
max    1.428479e+06     2023.0  2.000000e+03  4.586000e+01  9.990000e+01

In [15]:
df_tangara_dataset_1.drop(columns=["Unnamed: 0"], inplace=True)

In [16]:
df_tangara_dataset_1.sample(2)

,DATETIME,YEAR,MONTH,DAY_OF_WEEK,IS_WEEKEND,IS_HOLIDAY,SENSOR_ID,PM25,TEMPERATURE,HUMIDITY,GEOLOCATION,CARDINAL_POINT
112034,2023-08-08 21:37:00-05:00,2023,AGOSTO,MARTES,False,False,TANGARA_260A,12.0,31.32,46.33,3.4613800048828125 -76.51222229003906,NORTE-ORIENTE
970256,2023-08-27 21:28:00-05:00,2023,AGOSTO,DOMINGO,True,False,TANGARA_307A,10.0,29.94,53.77,3.3432769775390625 -76.52458190917969,SUR-OCCIDENTE

## Dataset 2

In [17]:
df_tangara_dataset_2 = df_from_csv(os.getenv("TANGARA_DATASET_2", None), dtindex=False)
print(f"Size: {df_tangara_dataset_2.size}")
df_tangara_dataset_2.info()
df_tangara_dataset_2.describe()

2024-09-20 18:28:37.463 | DEBUG    | utils:df_from_csv:263 - Run df_from_csv:
2024-09-20 18:28:37.464 | DEBUG    | utils:df_from_csv:264 - Load DataFrame: /home/sebaxtian/Workspaces/Tangara/tangara-mlds-unal-2024/src/tangara/data/0_raw/tangara_dataset_raw_2024-08-01_00-00-00_UTC-0500_2024-08-31_23-59-59_UTC-0500.csv

Size: 30176640
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2321280 entries, 0 to 2321279
Data columns (total 13 columns):
 #   Column          Dtype
---  ------          -----
 0   Unnamed: 0      int64
 1   DATETIME        object
 2   YEAR            int64
 3   MONTH           object
 4   DAY_OF_WEEK     object
 5   IS_WEEKEND      bool
 6   IS_HOLIDAY      bool
 7   SENSOR_ID       object
 8   PM25            float64
 9   TEMPERATURE     float64
 10  HUMIDITY        float64
 11  GEOLOCATION     object
 12  CARDINAL_POINT  object
dtypes: bool(2), float64(3), int64(2), object(6)
memory usage: 199.2+ MB

         Unnamed: 0       YEAR          PM25   TEMPERATURE      HUMIDITY
count  2.321280e+06  2321280.0  1.725509e+06  1.725509e+06  1.725509e+06
mean   1.160640e+06     2024.0  1.966657e+01  3.119735e+01  5.056267e+01
std    6.700960e+05        0.0  1.082280e+02  3.168699e+00  1.034884e+01
min    0.000000e+00     2024.0  0.000000e+00  2.172000e+01  2.115000e+01
25%    5.803198e+05     2024.0  7.000000e+00  2.918000e+01  4.319000e+01
50%    1.160640e+06     2024.0  1.100000e+01  3.137000e+01  4.852000e+01
75%    1.740959e+06     2024.0  1.600000e+01  3.310000e+01  5.641000e+01
max    2.321279e+06     2024.0  1.296200e+04  4.404000e+01  9.196000e+01

In [18]:
df_tangara_dataset_2.drop(columns=["Unnamed: 0"], inplace=True)

In [19]:
df_tangara_dataset_2.sample(2)

,DATETIME,YEAR,MONTH,DAY_OF_WEEK,IS_WEEKEND,IS_HOLIDAY,SENSOR_ID,PM25,TEMPERATURE,HUMIDITY,GEOLOCATION,CARDINAL_POINT
1614862,2024-08-03 17:11:00-05:00,2024,AGOSTO,SÁBADO,True,False,TANGARA_5636,175.0,33.65,44.92,3.4160614013671875 -76.47926330566406,SUR-ORIENTE
418074,2024-08-22 03:57:00-05:00,2024,AGOSTO,JUEVES,False,False,TANGARA_B9CA,8.0,34.44,39.12,3.3982086181640625 -76.52595520019531,SUR-OCCIDENTE

## Tangara Dataset

In [20]:
df_tangara_dataset = pd.concat([df_tangara_dataset_1, df_tangara_dataset_2], ignore_index=True)
print(f"Size: {df_tangara_dataset.size}")
df_tangara_dataset.info()
df_tangara_dataset.describe()

Size: 44997120
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3749760 entries, 0 to 3749759
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   DATETIME        object
 1   YEAR            int64
 2   MONTH           object
 3   DAY_OF_WEEK     object
 4   IS_WEEKEND      bool
 5   IS_HOLIDAY      bool
 6   SENSOR_ID       object
 7   PM25            float64
 8   TEMPERATURE     float64
 9   HUMIDITY        float64
 10  GEOLOCATION     object
 11  CARDINAL_POINT  object
dtypes: bool(2), float64(3), int64(1), object(6)
memory usage: 293.2+ MB

               YEAR          PM25   TEMPERATURE      HUMIDITY
count  3.749760e+06  2.936351e+06  2.936351e+06  2.936351e+06
mean   2.023619e+03  1.597555e+01  3.051020e+01  5.373361e+01
std    4.856210e-01  8.333776e+01  4.722134e+00  1.503565e+01
min    2.023000e+03  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.023000e+03  6.000000e+00  2.818000e+01  4.433000e+01
50%    2.024000e+03  1.000000e+01  3.080000e+01  5.126000e+01
75%    2.024000e+03  1.500000e+01  3.300000e+01  6.112000e+01
max    2.024000e+03  1.296200e+04  4.586000e+01  9.990000e+01

In [21]:
df_tangara_dataset.reset_index(drop=True, inplace=True)

In [22]:
df_tangara_dataset.sample(2)

,DATETIME,YEAR,MONTH,DAY_OF_WEEK,IS_WEEKEND,IS_HOLIDAY,SENSOR_ID,PM25,TEMPERATURE,HUMIDITY,GEOLOCATION,CARDINAL_POINT
372159,2023-08-06 05:19:30-05:00,2023,AGOSTO,DOMINGO,True,False,TANGARA_1EE6,7.0,28.35,53.78,3.4517669677734375 -76.55067443847656,NORTE-OCCIDENTE
1932560,2024-08-21 00:40:00-05:00,2024,AGOSTO,MIÉRCOLES,False,False,TANGARA_BC5A,13.0,31.55,41.76,3.3982086181640625 -76.52595520019531,SUR-OCCIDENTE

In [23]:
# Guardamos el dataset consolidado
df_to_csv(df_tangara_dataset, "tangara_dataset_agosto_2023_2024.csv")

2024-09-20 18:28:47.391 | DEBUG    | utils:df_to_csv:228 - Run df_to_csv:
2024-09-20 18:28:47.393 | DEBUG    | utils:df_to_csv:229 - Save DataFrame: /home/sebaxtian/Workspaces/Tangara/tangara-mlds-unal-2024/src/tangara/data/0_raw/tangara_dataset_agosto_2023_2024.csv

In [24]:
df_tangara_dataset.shape

(3749760, 12)